body {
  margin: 0;
  padding: 0; 
  background-image: url("backgroundnew.jpg");
} 

.topnav {
  background-color: #89c289;
  overflow: hidden;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #4fb6ff;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f49cbb;
  color: white;
}

#tajuk {
  color: #4fb6ff;
  font-family: "Covered By Your Grace", Times, serif;
}

.covered-by-your-grace-regular {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 200;
  font-style: normal;
}

.content-layout{
  display: grid;
  grid-template-columns:1fr 2fr 1fr;
  gap: 24-x;
  max-width:1100px;
  margin: 40px auto;
  padding:0 20px
  box-sizing: border-box;
}

.about,.current-topic, .extra{
  padding:20px;
  border-radius:12px;
  margin:0;
  box-sizing: border-box;
}

.about, 
.extra{
  background-color: #fffbb9;
  overflow: auto;
  height: 100vh;

}

p{
  font-family:"Work Sans", sans-serif ;
}

#pic{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

#pichelper{
  width: 300px;
  height: fit-content;
  object-fit: cover;
  border-radius: 0%;
  padding: 5%;
}

#surah{
  width: 500px;
  height: fit-content;
  object-fit: cover;
  border-radius: 0%;
  padding: 5%;
}

#contentpreview{
  background-color: #f49cbb;
  color: white;
  background-image: url(maintelefon.jpg);
}

pre {
  background-color: #f49cbb;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
}

code {
  font-family: monospace;
}